* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "CustomFont"; /* Replace with your desired font name */
  src: url("assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype"); /* Path to your .ttf file */
  font-weight: normal; /* Adjust if the font has specific weights */
  font-style: normal; /* Adjust if the font has specific styles */
}

/* Apply the font to specific elements */
body {
  font-family: "CustomFont", sans-serif; /* Fallback font included */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  width: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  gap: 20px;
}

.actions1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.actions h1 {
  font-size: 20px;
}

.actions2 p {
  color: rgb(169, 169, 169);
}

.actions3 {
  display: flex;
  gap: 10px;
}

.actions3 div p {
  color: rgb(169, 169, 169);
}

.actions5 button {
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 10px;
  cursor: pointer;
}

.repayment {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 10px;
  border: 1px solid black;
}

.interestOnly {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 10px;
  border: 1px solid black;
}

.actions4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actions5 button p {
  font-size: 14px;
}

.actions5 button img {
  width: 10%;
}

.actions1 p {
  text-decoration: underline;
  color: rgb(169, 169, 169);
  cursor: pointer;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  gap: 20px;
}

.results1 h1 {
  font-size: 20px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  body {
    height: 100%;
    width: 100%;
  }
  actions {
    width: 100%;
  }
}
